@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: #010011;
  color: white;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#header {
  font-size: 40px;
}

#desc {
  font-size: 20px;
}

#file-limit {
  font-style: italic;
}

#result-image {
  display: none;
}

#card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background: rgba(67, 43, 155, 0.205);
  backdrop-filter: blur(5px);
  box-shadow: 0 12px 20px rgba(0, 15, 146, 0.2);
  border-style: solid;
  border-color: rgba(77, 118, 253, 0.568);
  border-radius: 15px;
  margin: 20px 20px;
  padding: 20px;
  transition: border-color 0.25s;
}

#result-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgba(67, 43, 155, 0.205);
  backdrop-filter: blur(5px);
  box-shadow: 0 12px 20px rgba(0, 15, 146, 0.2);
  border-style: solid;
  border-color: rgba(77, 118, 253, 0.568);
  border-radius: 15px;
  margin: 20px 20px;
  padding: 20px;
  transition: border-color 0.25s;
}

#card:hover,
#result-card:hover {
  border-color: rgba(117, 107, 255, 0.89);
}

#result-name {
  font-size: 24px;
}

#result-episode,
#result-sim,
#result-image-p {
  font-weight: 600;
  font-size: 16px;
}
