@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: #010011;
  color: white;
  margin: 0 50px;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#header {
  font-size: 42px;
  transition: color 0.45s;
}

#header:hover {
  color: rgb(48, 7, 197);
}

#desc {
  font-size: 20px;
}

#file-limit {
  font-style: italic;
}

#result-image {
  display: none;
}

#submit-btn {
  font-size: 18px;
  padding: 12px 32px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
  background-color: rgba(111, 76, 255, 0.15);
  border: 1px solid rgba(111, 76, 255, 0.25);
  color: rgba(255, 255, 255, 0.8);
}

#submit-btn:hover {
  background-color: rgba(111, 76, 255, 0.35);
  border: 1px solid rgba(111, 76, 255, 0.5);
  color: rgba(255, 255, 255, 0.9);
}

#image-input {
  display: none;
}

.file-btn {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.file-btn:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

#file-name {
  margin: 0 21px;
  color: #ffffff;
  opacity: 0.7;
}

#card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background: rgba(67, 43, 155, 0.205);
  backdrop-filter: blur(5px);
  box-shadow: 0 12px 20px rgba(0, 15, 146, 0.2);
  border-style: solid;
  border-color: rgba(77, 118, 253, 0.568);
  border-radius: 15px;
  margin: 20px 20px;
  padding: 20px;
  transition: border-color 0.25s;
}

#result-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgba(67, 43, 155, 0.205);
  backdrop-filter: blur(5px);
  box-shadow: 0 12px 20px rgba(0, 15, 146, 0.2);
  border-style: solid;
  border-color: rgba(77, 118, 253, 0.568);
  border-radius: 15px;
  margin: 20px 20px;
  padding: 20px;
  transition: border-color 0.25s;
}

#card:hover,
#result-card:hover {
  border-color: rgba(117, 107, 255, 0.89);
}

#result-name {
  font-size: 26px;
  margin-bottom: 7px;
}

#result-episode,
#result-sim,
#result-image-p {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 7px;
}

#result-image {
  border-radius: 6px;
  box-shadow: 0 0px 20px rgb(2, 2, 2);
}

#loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.582);
  z-index: 99;
}

#loader-container p {
  margin-left: 30px;
  font-size: 20px;
}

.loader {
  width: 69px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #9b4dca 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #9b4dca);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
